@{
    ViewBag.Title = "Home Page";
}

<div id="app" class="table-bordered">

    <div class="row" id="main">

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="row">
                <div class="pull-right">
                    @*TODO:do it right  *@
                    <a href="/#table">
                        <span class="glyphicon glyphicon-th">

                        </span>
                    </a>
                    <a href="/#index">
                        <span class="glyphicon glyphicon-th-list">

                        </span>
                    </a>
                    <span class="glyphicon glyphicon-plus records_add_new_show">

                    </span>
                </div>
            </div>
            <div class="list-group" id="prev_records"></div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3"></div>
    </div>
    <div id="records_table"></div>

</div>