@{
    ViewBag.Title = "Home Page";
}

<div id="app">

    <div class="jumbotron">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Records</h1>
            <input id="new_record_label" type="text" class="form-control" placeholder="Best event!">
            <textarea id="new_record_text" class="form-control" placeholder="Event description"></textarea>
        </div>

        <div class="col-md-2"></div>
    </div>
    <div class="row" id="main">
        <div class="col-md-3"></div>
        <div class="list-group col-md-6" id="prev_records"></div>
        <div class="col-md-3"></div>
    </div>

    @*<footer style="display: none;">
            <a id="clear-completed">Clear completed</a>
            <div id="todo-count"></div>
        </footer>*@

</div>

@section Scripts{
    @*-----------------temp--------------------------*@
    <script type="text/javascript" src="http://localtodos.com/backbone.localStorage.js"></script>
    <script type="text/template" id="item-template">

        <div class="col-md-11 col-lg-11 col-sm-11 col-xs-11">
            <h4 class="list-group-item-heading records-prev-label">
                <%- Label %>
                <%- DateCreatedString %>
            </h4>
            <p class="list-group-item-text records-prev-text">
                <%- Text %>
            </p>
            <% if(Editable){ %>
                <input type="text" class="form-control records-prev-edit-label" placeholder="Best event!">
                <textarea class="form-control records-prev-edit-text" placeholder="Event description"></textarea>
            <%}%>
        </div>
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">

            @*<span class="glyphicon glyphicon-remove-circle"></span>*@
            <% if(Editable){ %>
                <span title="Edit" class="glyphicon glyphicon-edit records-prev-edit-btn"></span>
                <span title="Undo" class="glyphicon glyphicon-refresh records-prev-edit-undo"></span>
                <span title="Save" class="glyphicon glyphicon-save records-prev-edit-confirm"></span>
            <%}%>
            
            
        </div>
    </script>

}
