@{
    Layout = null;
    ViewBag.Title = "Log in";
}
@*@Styles.Render("~/bundles/style/main")*@
<style>
    body {
        margin: 0px;
    }

    #login_form {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -180px;
        margin-top: -100px;
        width: 200px;
        min-width: 200px;
        color: black;
        z-index: 10;
    }

    #back {
        position: absolute;
        top: 10%;
        width: 100%;
        z-index: -100;
    }

    #register_form {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -180px;
        margin-top: -100px;
        width: 200px;
        min-width: 200px;
        color: black;
        z-index: 10;
    }

    #switch_to_register_btn:hover {
        cursor: pointer;
    }

    #switch_to_login_btn:hover {
        cursor: pointer;
    }

    #register_errors_list {
        color: red;
    }
</style>
@*<video autoplay="autoplay" id="video-background" preload="auto" loop>
        <source src="/home/video" type="video/mp4">
    </video>*@
<img src="/api/pictures/login" id="back" />
<div id="login_form">
    <form action="/Account/Login" class="form-horizontal" method="post" role="form">

        <h4>Memoirs.</h4>
        <hr />

        <div class="form-group">
            <label class="col-md-2 control-label">Login</label>
            <div class="col-md-10">
                <input class="form-control" name="Login" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                <input class="form-control" name="Password" type="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log in" class="btn btn-default" />
                <a class="btn btn-primary" id="switch_to_register_btn">Register</a>
            </div>
        </div>
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    </form>

</div>
<div id="register_form">
    <form action="/Account/Register" class="form-horizontal" method="post" role="form">
        <h4>Register</h4>
        <hr/>

        <div class="form-group">
            <label class="col-md-2 control-label">Login</label>
            <div class="col-md-10">
                <input class="form-control" name="Login" type="text" value="" id="register_login_input">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input class="form-control" name="Email" type="text" value="" id="register_email_input">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                <input class="form-control" name="Password" type="password" id="register_password_input">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password Confirmation</label>
            <div class="col-md-10">
                <input class="form-control" name="PasswordConfirm" type="password" id="register_password_confirm_input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register now!" class="btn btn-default" id="register_submit_btn"/>
                <a class="btn btn-primary" id="switch_to_login_btn">Login</a>
            </div>
        </div>
        <div class="form-group">
            <ul id="register_errors_list"></ul>
        </div>

    </form>
    <form action="/Account/ExternalLogin" class="form-horizontal" method="post" role="form">
        <button type="submit" value="Google" name="provider">Google</button>
    </form>
</div>
@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl})
        </section>
    </div>*@

@Scripts.Render("~/bundles/js")
@Scripts.Render("~/bundles/login")
<script type="text/javascript">
    $(document).ready(function () {


        $('#switch_to_register_btn').click(function () {
            $('#login_form').fadeOut(700, function () {

                $('#register_form').fadeIn(700);
            });
        });
        $('#switch_to_login_btn').click(function () {
            $('#register_form').fadeOut(700, function () {

                $('#login_form').fadeIn(700);
            });
        });
    });
</script>