@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Add New Record</h2>
    <div id="new_record"></div>
</div>

<div class="row" id="prev_records">
    
</div>
@section scripts{
    <script src="~/Scripts/Singleton.js"></script>
    <script src="~/Scripts/RecordsManager.js"></script>
    <script src="~/Scripts/PrevPostsList.jsx"></script>
    <script src="~/Scripts/AddNewRecord.jsx"></script>
}
